# build artifacts
*.pyc
*.egg-info
build
dist
docs/_build
MANIFEST

# testing artifacts
tests/index.html
tests/results
**.cache
.coverage
.tox
.pytest_cache
# sqlite
**.db
**.xml

# test configurations
/default.cfg

# pycharm ide
.idea

# shell files
.env
.envrc

# emacs backups
*\~
\#*\#
